
body, body * {
    vertical-align: baseline;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size:20px;
    color: #757575;
    /*-webkit-font-smoothing: antialiased;*/
    -webkit-transform-style: preserve-3d;
    -webkit-font-smoothing: subpixel-antialiased;
    /*-moz-osx-font-smoothing: grayscale;*/
    /*-webkit-backface-visibility: hidden;*/
}


#main-container {
    position: absolute;
    width: 300px;
    height: 250px;
    background: #fff;
    text-align: center;
}

#exit {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid black;
    z-index: 10;
}

.feature {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

:focus {
    outline:none;
}
::-moz-focus-inner {
    border:0;
}
#photo {
    position: absolute;
    top:0px;
    left:0px;
}

#copy1, #copy3 {
    position: absolute;
    width: 100%;
    padding: 0px;
    text-align: center;
    opacity: 0;
}

#copy1 {
    top: 23.3px;
    left: 0px;
}


#dotdotdot{
    position: absolute;
    top:23.3px;
    left:164px;
    opacity: 0;
}

#dotdotdot div{
    position: relative;
    display: inline-block;
    letter-spacing: -4px;
    opacity: 1;
}

#copy2a{
    position: absolute;
    top:23.3px;
    left:147px;
    opacity: 0;
}

#copy1 div, #copy2a div, #copy2b div, #copy2c div, #copy2d div {
  position: relative;
  display: inline-block;
  opacity:0;
  letter-spacing: -4px;
}



#copy2b{
    position: absolute;
    top:48px;
    left:150px;
    opacity: 0;
}


#copy2c{
    position: absolute;
    top:48px;
    left:131.1px;
    opacity: 0;
}


#copy2d{
    position: absolute;
    top:48px;
    left:174px;
    opacity: 0;
}


#copy3 {
    top: 97px;
    opacity: 0;
    font-size: 19px;
}



#phone {
    position: absolute;
    top:350px;
}

#handPhone1 {
    position: absolute;
    top:0px;
    left:35px;
    width: 141px;
    height: 170px;
}

#handPhone2 {
    position: absolute;
    top:10px;
    left:160px;
    width: 105px;
    height: 178px;
}

#cup {
    position: absolute;
    top:10px;
    left:30px;
    width: 69px;
    height: 65px;
}

#computer {
    position: absolute;
    top:65px;
    right:-200px;
    /*-webkit-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);*/

}
#laptop {
    position: absolute;
    width: 80px;
    height: 125px;
    right:10px;
    top:5px;
}
#handComp1 {
    position: absolute;
    right:-45px;
    top:65px;
    width:108px;
    height: 29px;
}

#handComp2 {
    position: absolute;
    right:-62px;
    top:0px;
    width:130px;
    height: 56px;
}

#minicupComp {
    position: absolute;
    right:-5px;
    top:-35px;
    width: 49px;
    height: 45px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotote(180deg);
}

#tablet {
    position: absolute;
    top:44px;
    left:-90px;
}

#handTablet1 {
    position: absolute;
    top:30px;
    left:-50px;
    width: 139px;
    height: 69px;
}

#handTablet2 {
    position: absolute;
    top:60px;
    left: -38px;
    width: 80px;
    height: 92px;
}

#minicupTab {
    position: absolute;
    top:-20px;
    left:15px;
    width: 44px;
    height: 41px;
}

#computerDog {
    position: absolute;
    top:-220px;
    left:95px;
}

#paw1 {
    position: absolute;
    left:30px;
    top:-20px;
    width: 27px;
    height: 80px;
}

#paw2 {
    position: absolute;
    left:75px;
    top:-30px;
    width: 32px;
    height: 89px;
}

#laptopDog {
    position: absolute;
    top:15px;
    left:5px;
    width: 118px;
    height: 65px;
}

#logo {
    position: relative;
    width: 300px;
    height: 250px;
}

#logo .logo-with-icons {
    position: absolute;
    width: 160px;
    height: 134px;
    text-align: center;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo .logo {
    position: absolute;
    top: 30px;
    left: 70px;
    width: 160px;
    height: 78px;
    visibility: hidden;
    opacity: 0;
}

#cta{
  background-color: #1075f4;
  padding: 10px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 165px;
  width: 90px;
  border-radius: 2px;
  color: #ffffff;
  font-size: 17px;
  letter-spacing: 0.6px;
  /*transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  -ms-transform: scale(0.4);*/
  opacity: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
}

.icon-effect {
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;

    opacity: 0;

    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);


    background: rgba(255, 255, 255, 0.2);
    background: -moz-linear-gradient(
    left,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0.0) 100%
    );
    background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0.0) 100%
    );
    background: -webkit-gradient(
    linear, left top, right top,
    color-stop(0%  ,rgba(255, 255, 255, 0.2)),
    color-stop(75% ,rgba(255, 255, 255, 0.2)),
    color-stop(90% ,rgba(255, 255, 255, 0.8)),
    color-stop(100%,rgba(255, 255, 255, 0.0))
    );
    background: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0.0) 100%
    );
    background: -ms-linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0.0) 100%
    );
    background: linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.1) 75%,
    rgba(255, 255, 255, 0.5) 90%,
    rgba(255, 255, 255, 0.0) 100%
    );



    -webkit-transition-property: left, top, opacity;
    -moz-transition-property: left, top, opacity;
    -ms-transition-property: left, top, opacity;
    -o-transition-property: left, top, opacity;
    transition-property: left, top, opacity;
    -webkit-transition-duration: 0.5s, 0.5s, 0.1s;
    -moz-transition-duration: 0.5s, 0.5s, 0.1s;
    -ms-transition-duration: 0.5s, 0.5s, 0.1s;
    -o-transition-duration: 0.5s, 0.5s, 0.1s;
    transition-duration: 0.5s, 0.5s, 0.1s;
    -webkit-transition-timing-function: ease;
    -moz-transition-timing-function: ease;
    -ms-transition-timing-function: ease;
    -o-transition-timing-function: ease;
    transition-timing-function: ease;
}

/* Hover state - trigger effect */

.icon-effect.shimmer {
  opacity: 1;
  top: -15%;
  left: -30%;
}

#footer {
  position: absolute;
  width: 100%;
  height:50px;
  background: #757575;
  bottom:-50px;
}

#logoWhite {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:102px;
    height: 50px;
  }
